<div class="container">
  <div class="row">
    <div class="col-xs-4">


        <% Order.all.each do |order| %>
          <div class="order-infos">
            <div class="order-text">
              <p>Date : <%= order.pick_up_at %></p>
              <p><%= order.user.f_name %></p>
              <p><%= order.user.l_name %></p>
              <p>Utilisateur : <%= order.user.email %></p>
              <p>Instructions : <%= order.instructions %></p>
              <p>Prix total : <%= order.total_price %>€</p>
              <h4>Produits :</h4>

              <div class="ordered-products-infos">
                <div class="ordered_products">
                  <% order.ordered_products.each do |ordered_product| %>
                    <p><%= ordered_product.product.name %> : <%= ordered_product.quantity %> <%= ordered_product.product.measurement_units %></p>
                  <% end %>
                </div>
              </div>

                  <div class="order-buttons">
                    <%= link_to order_path(order, order: {status: :ready}), method: :patch,
                      class: "btn btn-success btn-block ", data:{confirm: "Are you sure?"} do %>
                       Confirmer
                    <% end %>
                      <%= link_to order_path(order, order: {status: :canceled}), method: :patch,
                      class: "btn btn-danger btn-block ", data:{confirm: "Are you sure?"} do %>
                       Annuler
                    <% end %>
                  </div>

                </div>

          </div>

      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center col-sm-1">N°</th>
        <th class="text-center col-sm-3">Client</th>
        <th class="text-center col-sm-2">Date de retrait</th>
        <th class="text-center col-sm-2">Prix</th>
        <th class="text-center col-sm-2">Statut</th>
        <th class="text-center col-sm-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">212</th>
        <td>Mr Richard</td>
        <td>20 mars 14h</td>
        <td>55 €</td>
        <td>à confirmer</td>
        <td>
          <span class="btn btn-success btn-block">Détails</span>
          <span class="btn btn-primary btn-block">Confirmer</span>
          <span class="btn btn-danger btn-block">Annuler</span>
        </td>
      </tr>
      <tr>
        <th scope="row">213</th>
        <td>Mr Richard</td>
        <td>20 mars 14h</td>
        <td>55 €</td>
        <td>à confirmer</td>
        <td><span class="btn btn-primary">Confirmer</span> <span class="btn btn-danger">Annuler</span></td>
      </tr>
    </tbody>
  </table>
</div>
