<div class="container logs-container">
  <div class="omb_login">
    <div class="text-center logs">
      <p class="omb_authTitle">Sign up</p>
    </div>
      <div class="row omb_row-sm-offset-3 ">
        <div class="col-xs-12 col-sm-6 col-centered">
          <form class="omb_loginForm" action="" autocomplete="off" method="POST">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

              <div class="form-inputs">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                    <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "First Name" %>
                  </div>
                    <span class="help-block"></span>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                    <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Last Name" %>
                  </div>
                    <span class="help-block"></span>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "email" %>
                  </div>
                    <span class="help-block"></span>
                  <div class="input-group first-password">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: "password" %>
                  </div>
                    <span class="help-block"></span>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                    <%= f.input :password_confirmation, required: true, label: false, placeholder: "password" %>
                  </div>
              </div>

              <div class="form-actions log-btn">
                <%= f.button :submit, "Sign up", class: 'btn btn-lg btn-success btn-block' %>
              </div>
            <% end %>
              <p class="text-center"> Already with us? </p>
              <%= render "devise/shared/links" %>
          </form>
        </div>
      </div>
  </div>
</div>

