<%= link_to shop_path(shop) do %>
  <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path shop.photo.path, quality: "auto:eco", crop: :fill unless shop.photo.nil? %>');"> -->
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "click-n-co/background2.jpg", width: 225, quality: "auto:eco", crop: :fill %>');">
      <div class="card-category">
          <h4><%= shop.name.capitalize %></h4>
      </div>
      <%#= render 'shared/stars', rating: shop.avg_rating.nil? ? 0 : shop.avg_rating %>
      <% if shop.try(:distance) %>
        <div class="card-distance">
          <%= distance shop.try(:distance) %>
        </div>
      <% end %>

      <div class="card-description">
        <p class="address-shop"><%= shop.address %></p>
      </div>
  </div>
<% end %>


