
<div class="shop-products">
  <% @product_hash.each_with_index do |(product_category, products), index| %>
    <div class="products-block">
      <h3 id="<%= "cat-#{index}" %>"><%= product_category %></h3>
      <% products.each do |product| %>
        <div class="product-items">
          <div class="product-content">
            <div class="product-name"><%= product.name %></div>
            <div class="product-description"><%= product.short_description %></div>
          </div>
          <div class="product-price"><%= product.price %> €</div>
          <div class="plus-minus text-right">
            <%= link_to shop_add_path(@shop, product), remote: true do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
            <%= link_to shop_reduce_path(@shop, product), remote: true do %>
              <i class="fa fa-minus" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
