



<div class="shop-products">
  <div id="cat-1" class="shop-anchor">
    <div class="shop-show">
      <h3 class="text-center">Produits</h3>
      <h5>catégorie 1</h5>
      <% shop.products.distinct.each do |product| %>
        <div class="product-items">
          <ul>
            <li class="list-unstyled product-name"><%= product.name %></li>
            <li class="list-unstyled product-description"><%= product.short_description %></li>
          </ul>
          <div class="plus-minus text-right">
            <%= link_to shop_add_path(shop, product) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
            <%= link_to shop_reduce_path(shop, product) do %>
              <i class="fa fa-minus" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="cat-2" class="shop-anchor">
    <div class="shop-show">
      <h3 class="text-center">Produits</h3>
      <h5>catégorie 1</h5>
      <% shop.products.distinct.each do |product| %>
        <div class="product-items">
          <ul>
            <li class="list-unstyled product-name"><%= product.name %></li>
            <li class="list-unstyled product-description"><%= product.short_description %></li>
          </ul>
          <div class="plus-minus text-right">
            <%= link_to shop_add_path(shop, product) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
            <%= link_to shop_reduce_path(shop, product) do %>
              <i class="fa fa-minus" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
