
<div class="shop-products">
  <% shop.product_categories.distinct.each do |product_category| %>
    <div class="products-block">
      <h3 id="<%= "cat-#{product_category.id}" %>"><%= product_category.name %></h3>
      <% shop.products.where(product_category: product_category).each do |product| %>
        <div class="product-items">
          <div class="product-content">
            <div class="product-name"><%= product.name %></div>
            <div class="product-description"><%= product.short_description %></div>
          </div>
          <div class="product-price"><%= product.price %> €</div>
          <div class="plus-minus text-right">
            <%= link_to shop_add_path(shop, product) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
            <%= link_to shop_reduce_path(shop, product) do %>
              <i class="fa fa-minus" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
