<div class="page-header-inner">
  <div class="container">
    <div class="shop-cover">
        <div class="cvr" style="background-image:url();">

        </div>
    </div>
    <div class="shop-name">
      <h1 class="mbottom5">
        <%= shop.name %>
      </h1>
      <div>
        <ul class="shop-info">
          <li class="metadata list-unstyled">
            <%= shop.category.try(:name) %>
          </li>
          <li class="metadata list-unstyled">
            <%= shop.address %>
          </li>
          <li class="metadata list-unstyled">
            <%= shop.phone_number %>
          </li>
        </ul>
      </div>
    </div>
    <%#= image_tag 'image-banner-show.jpg', class: 'image-show' %>
    <%= cl_image_tag shop.photo.path, width: 350, height: 200, quality: "auto:eco", crop: :fill, class: 'image-show' unless shop.photo.blank? %>
  </div>
</div>

