<!-- banner du shop
Catégorie de produits
Produits
Panier -->

<div class="page-header-inner shop">
  <div class="shop-cover">
    <div class="cvr" style="background-image:url();"></div>
  </div>
  <div class="shop-name">
    <h1 class="mbottom5">
      <%= @shop.name %>
    </h1>
    <div>
      <ul class="shop-info">
        <li class="metadata list-unstyled">
          <%= @shop.category %>
        </li>
        <li class="metadata list-unstyled">
          <%= @shop.address %>
        </li>
        <li class="metadata list-unstyled">
          <%= @shop.phone_number %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="shop-show">
        <h3>catégories</h3>
          <% @shop.product_categories.distinct.each do |product_category| %>
            <li class="list-unstyled">
              <%= product_category.name %>
            </li>
          <% end %>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="shop-show">
        <h3>produits</h3>
          <ul class="product-items">
            <% @shop.products.distinct.each do |product| %>
              <li class="list-unstyled">
              <%= product.name %>
              <%= link_to shop_add_path(@shop, product) do %>
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <% end %>
              <%= link_to shop_add_path(@shop, product) do %>
                <i class="fa fa-plus" aria-hidden="true"></i>
              <% end %>
              <%= link_to shop_reduce_path(@shop, product) do %>
                <i class="fa fa-minus" aria-hidden="true"></i>
              <% end %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="shop-show">
        <h3>panier</h3>
        <% session[:cart].each do |product_id, product| %>
          <p>
            <%= "#{product['qty']} x #{product['name']} " %>
            <%= link_to shop_remove_path(@shop, product_id) do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </p>
        <button type="button" class="btn btn-success btn-block">Commander</button>
      </div>
    </div>
  </div>
</div>
