<div class="container back-to-search">
  <%= link_to :back do %>
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Retour aux résultats
  <% end %>
</div>

<%= render 'shop_banner', shop: @shop %>

<div class="shop">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-md-3 hidden-xs hidden-sm">
        <%= render 'product_categories', shop: @shop %>
      </div>
      <div class="col-md-6">
        <%= render 'products', shop: @shop %>
      </div>

      <div class="col-md-3">
        <div class="shop-cart shop-nav" data-spy="affix">

          <h3>Votre commande</h3>

          <%= render 'cart', cart: @cart %>

          <%= render 'form_order' %>

        </div>
      </div>
    </div>  <!-- row -->
  </div> <!-- container -->
</div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).ready(function(){

    $('.shop-nav').affix({
      offset: {
        // bottom: ($('#footer').outerHeight(true) + $('.application').outerHeight(true)) + 50,
        // top: ($('.navbar-wagon').outerHeight(true) + $('.application').outerHeight(true)) + 204
        top: $('#product-categories').offset().top - $('.navbar-wagon').outerHeight(true)
      }
    });
    console.log($('#product-categories').offset().top - $('.navbar-wagon').outerHeight(true));
  });
</script>
<% end %>


