<div class="page-header-inner shop">
  <%= render 'shop_banner', shop: @shop %>
</div>

<div class="shop">
  <div class="container">
    <div class="bouton-retour">
      <%= link_to "Retour aux résultats", shops_path(@shops), class: 'retour-aux-resultats' %>
    </div>
    <div class="row no-gutter">
      <div class="col-md-3 hidden-xs hidden-sm">
        <%= render 'product_categories', shop: @shop %>
      </div>
      <div class="col-md-6">
        <%= render 'products', shop: @shop %>
      </div>

      <div class="col-md-3">
        <nav class="bs-docs-sidebar shop-cart shop-nav" data-spy="affix">
        <div class="shop-show form-group text-center">
          <h3>Panier</h3>
        </div>
        <div class="text-center">
          <%= render 'cart', cart: @cart %>
          <div class="shop-order">
            <%= render 'form_order' %>
          </div>
        </div>
        </nav>
      </div>
    </div>  <!-- row -->
  </div> <!-- container -->
</div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).ready(function(){

    $('.shop-nav').affix({
      offset: {
        bottom: ($('#footer').outerHeight(true) +
          $('.application').outerHeight(true)) + 50,
        // top: ($('.navbar-wagon').outerHeight(true) + $('.application').outerHeight(true)) + 204
        top: $('#product-categories').offset().top - $('.navbar-wagon').outerHeight(true)
      }
    });
    var top = $('.navbar-wagon').outerHeight(true);
    console.log(top);
    var top_outer = ($('.navbar-wagon').outerHeight(true) + $('.application').outerHeight(true)) + 204
    var top_outer = $('.navbar-wagon').offset().bottom;
    console.log(top_outer);
  });
</script>
<% end %>


