<div class="order-">

  <div class="order-list">
    <div class="order-informations header">

    <p class="order-retailer text-center">N°</p>
    <p class="order-retailer text-center">Client</p>
    <p class="order-retailer text-center">Date de retrait</p>
    <p class="order-retailer text-center">Prix</p>
    <p class="order-retailer text-center">Statut</p>
    <p class="order-retailer text-center">Action</p>
    </div>
  </div>

  <div class="order-list">
    <% orders.each do |order| %>
    <div class="order-informations">
      <p class="order-retailer"><%= order.id %></p>
      <p class="order-retailer"><% avatar_url = order.user.facebook_picture_url || 'sylvain.png' %>
          <span><%= image_tag avatar_url, class: "avatar" %></span><span> </span><%= order.user.f_name %> <%= order.user.l_name %></p>
      <p class="order-retailer"><%= order.pick_up_at.strftime('%d %b %Y - %Hh') %></p>
      <p class="order-retailer"><%= order.total_price %>€</p>
      <p class="order-retailer"><%= Order.human_enum_name(:status, order.status) %></p>
      <p class="order-retailer"><%= link_to retailer_shop_order_path(@shop, order),
        class: "btn btn-success btn-block see-details" do %>
         Voir détails
      <% end %>
    </div>
    <% end %>

  </div>

  </div>











