<div class="order-">

  <div class="order-list">
    <div class="order-informations header">

    <p class="order-retailer text-center"><strong>N°</strong></p>
    <p class="order-retailer text-center"><strong>Commerce</strong></p>
    <p class="order-retailer text-center"><strong>Date de retrait</strong></p>
    <p class="order-retailer text-center"><strong>Prix</strong></p>
    <p class="order-retailer text-center"><strong>Produits</strong></p>
    </div>
  </div>

  <div class="order-list">
    <% order.each do |order| %>
    <div class="order-informations">
      <p class="order-retailer"><%= order.id %></p>
      <p class="order-retailer">
        <%= order.shop.name.capitalize %>
      </p>
      <p class="order-retailer"><%= order.pick_up_at.strftime('%d %b %Y- %Hh') %></p>
      <p class="order-retailer"><%= order.total_price %>€</p>
      <p class="order-retailer">
        <%= link_to "#order-show", class: "", data: { toggle: "modal", orderid: "#{order.id}" } do %>
          <button class="btn btn-success btn-block">Voir détails</button>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>
