<div class="retailer-order-view">
  <div class="order-show">
    <div class="user-infos">
      <% avatar_url = current_user.facebook_picture_url || 'sylvain.png' %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <p><%= @order.user.f_name %></p>
      <p><%= @order.user.l_name %></p>
      <p><strong>Utilisateur</strong> : <%= @order.user.email %></p>
    </div>

    <div class="order-details">
      <p><strong>Date</strong> : <%= @order.pick_up_at.strftime('%A %d %b - %H%M') %>h</p>
      <p><strong>Instructions</strong> : <%= @order.instructions %></p>
      <p><strong>Prix total</strong> : <%= @order.total_price %>€</p>
    </div>

    <div class="order-status">
      <p><strong>Statut</strong> : <%= @order.status %></p>
      <div class="progres">

        <% if !@order.canceled? %>
        <div class="bar-label">

        </div>


          <% 4.times do |i| %>

            <div class="bar-label">
              <% if i + 1 <= @index %>
                <i class="fa fa-circle done" aria-hidden="true"> </i>
              <% else %>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
              <% end %>
              <div class="bar-text"><%= Order.human_enum_name(:status, Order.statuses.keys[i]) %></div>
            </div>
            <% if i < 4 && i < @index - 1%>
            <span class="bar done"></span>
            <% elsif i < 3 && i >= @index - 1 %>
            <span class="bar"></span>
            <%  end %>
          <% end %>



        <% else %>

          <div class="label label-warning">Annulée</div>
        <% end %>

      </div>
    </div>


    <div class="product-and-buttons">
      <div class="product-details">
        <p><strong>Produits</strong> :</p>
          <% @order.ordered_products.each do |ordered_product| %>
            <p><%= ordered_product.product.name %> : <%= ordered_product.quantity %> <%= ordered_product.product.measurement_units %></p>
          <% end %>
      </div>
      <div class="action-buttons text-center">
        <%= link_to order_path(@order, order: {status: :prête}), method: :patch,
          class: "btn btn-success btn-block bigger-btn ", data:{confirm: "Are you sure?"} do %>
           Commande prête
        <% end %>
        <%= link_to order_path(@order, order: {status: :annulée}), method: :patch,
          class: "btn btn-danger btn-block bigger-btn ", data:{confirm: "Are you sure?"} do %>
           Annuler
        <% end %>

        <%= link_to order_path(@order, order: {status: :récupérée}), method: :patch,
          class: "btn btn-primary btn-block bigger-btn ", data:{confirm: "Are you sure?"} do %>
           Commande récupérée
        <% end %>


      </div>
    </div>
  </div>
</div>

