
  <div class="text-center">
    <p class="color-commande"><strong>Commande N° <%= @order.id %></strong></p>
    <h3>Chez: <%= @order.shop.name %></h3>
    <h4><%= @order.shop.address %></h4>
  </div>
  <div>
    <p><strong>Produits achétés:</strong></p>
    <% @order.ordered_products.each do |ordprods| %>
      <li><%= ordprods.product.name %> x <%= ordprods.quantity %></li>
    <% end %>
  </div>
  <% unless @order.instructions.empty? %>
    <br>
    <div><strong>Instructions pour le vendeur:</strong>
      <%= @order.instructions %>
    </div>
  <% end %>
