<!-- banner code -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path "click-n-co/background2.jpg", quality: "auto", width: 1200, crop: "scale" %>);">
  <div class="banner-content">
    <h1>CLICK & CO</h1>
    <p> Explorez vos commerces de proximité</p>
    <%= render 'shared/search_form' %>
  </div>
</div>


<!-- Your features code -->
    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= image_tag 'montre_check.png', class: 'montre' %>
          <h2>Planifiez vos courses</h2>
          <p>Gagnez du temps et faites vos courses depuis chez vous avec Click & Co....
            Envie de rester au calme chez vous et de profiter de votre famille? Vous préferez gérer vos courses hebdomadaires en toute simplicité?
          <br>
            Click & Co c'est la solution!</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= image_tag 'panier.png', class: 'panier' %>
          <h2>Choisissez la qualité</h2>
          <p>Achetez les meilleurs produits issus de l'agriculture de votre région et proposés par les commerces de proximité. Qualité, savoir-faire, nous sélectionnons pour vous les meilleurs commerçants, mais aussi leurs meilleurs produits. </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= image_tag 'handshake.png', class: 'hands' %>
          <h2>Restez local</h2>
          <p>Plus besoin de vous déplacer dans les grandes surfaces, plus d'attentes à la caisse.... Le service de Click & Co vous permet de retirer vos achats directement chez les commerçants sans besoin de les regler car... c'est déjà fait!</p>
        </div>
      </div>
    </div>


<!-- Your newsletter code -->
<div class="text-center padded" id="newsletter">
  <h2>Inscrivez-vous à notre newsletter</h2>
  <p>Laissez-nous votre e-mail</p>
  <form class="form-inline">
    <input type="email" placeholder="adrien@gmail.com" class="form-control">
    <input type="submit" value="S'inscrire'" class="btn btn-success">
  </form>
</div>

<!-- Include Google Maps JS API -->

<%= content_for(:after_js) do %>
  <script>
    function geoCodeUser() {
      navigator.geolocation.getCurrentPosition(setGeoCookie);
    }


    function setGeoCookie(position) {
     var console_val = position.coords.latitude + "|" + position.coords.longitude;
     document.cookie = "lat_lng=" + escape(console_val);
    }
</script>
<% end %>


