<div class="container payments text-center">
<div class="payments-content">
   <h1 class="text-center payments-title">
     Ma <strong>'Click-n-co'</strong> commande n°<%= @order.id %>
   </h1>

  <div class="order-list">
    <div class="order-informations header">
      <p class="order-retailer text-center">Commerce</p>
      <p class="order-retailer text-center">Adresse</p>
      <p class="order-retailer text-center">Date de retrait</p>
      <p class="order-retailer text-center">Prix</p>
      <p class="order-retailer-products text-center">Produits</p>
    </div>
  </div>



  <%= form_tag order_payments_path(@order) do %>
    <div class="order-list">

      <% @table.each do |order| %>
        <div class="order-informations">
          <p class="order-retailer"><strong><%= order.shop.name.capitalize %></strong></p>
          <p class="order-retailer"><%= order.shop.address %></p>
          <p class="order-retailer"><%= order.pick_up_at.strftime('%d %b %Y- %Hh') %></p>
          <p class="order-retailer"><%= order.total_price %>€</p>
          <div class="order-retailer-products">
            <div class="order-manifest">
              <% order.ordered_products.each do |ordprods| %>
                <div class="order-line">
                  <div class="order-line-content">
                    <span class="order-line-quantity">
                      <%= ordprods.quantity.to_i  %> x
                    </span>
                    <span class="order-product-name">
                      <%= ordprods.product.name %>
                    </span>
                  </div>
                  <div class="order-line-price">
                    <%= ordprods.product.price * ordprods.quantity.to_i  %> €
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

   <%= hidden_field_tag 'my_cart', params[:my_cart] %>


  <div class="total_price_div">
    <!-- <article> -->
      <label class="total_price">
        <% @order.total_price = @sum %>
        <span>Total : <%= humanized_money_with_symbol(@order.total_price) %></span>
      </label>
    <!-- </article> -->
  </div>

  <div class="pay">
    <!-- Commented for the lecture, remove comments.   -->
     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      value="Payer"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Click & Co"
      data-email="<%= current_user.email %>"
      data-description="<%= @order.shop.name %>"
      data-locale= "auto"
      data-amount="<%= @order.total_price_cents %>"
      data-currency="<%= @order.total_price.currency %>"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
     </script>
   <% end %>
  </div>

</div>
